.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.center {
  text-align: center;
}
input.large{
  font-size: 20px;
  height: 50px;
}
input.large + span .glyphicon{
  font-size: 33px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

html, body {
  height: 100%;
}

/* Navbar styles */
.navbar{
  display: block;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navmenu {
  z-index: 1;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

/* Search type radios */
#searchTypeRadioGroup .input-group{
  float: left;
  width: 33%;
}

/* Recall Button styles */
.recall-buttons .go-endcap {
  float: right;
  margin-left: -18px;
  position: absolute;
}
.recall-buttons button {
  padding: 7px 16px 8px 10px;
  font-size: 1.4em;
  border: none;
}
.recall-buttons button{
  width: 155px;
  margin-bottom: 20px;
}








/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  img.header-logo {
    padding: 100px 0 20px 0;
  }
  .navbar{
    display: none;
  }

  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .canvas {
    padding: 0;
  }
}

.recall-search-button {
  color: white;
  background-color: #2562ab;
}
#help-button {
  background-color: inherit;
  border: none;
}
h1.lead {
  margin: 0;
  padding: 20px 0 40px 0;
}
.fda-go-text {
  color: #051869;
  font-weight: 400;
  font-size: 21px;
}
.search-bar {
  padding: 10px;
}
#category-search-button {
  background-color: #009f21;
  border: none;
  margin-left: -3px;
}
.category-radio-group .input-group {
  display: inline-table;
  padding: 15px 5px;
}
#recall-instructions {
  padding: 70px 0 20px 0;
  font-size: 16px;
}
.recall-buttons {
  padding: 20px;
}
